<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>
<body>
    <div class="container">
        <h1><b>BMI and Retirement Age Calculator</b></h1>
        <h2>Nathan Cheshire</h2>
        <h3>BMI Calculator</h3>
    </div>
    <div class="container">
        <form action="/getbmi" method="POST">
          <div class="form">
            <input type="text" name="feet" value = "{{feet}}" autocompelte="off" required/>
            <label for="Height (feet)" class="label-name">
              <span class="content-name">Height (feet)</span>
            </label>
          </div>
          <br/>
          <div class="form">
            <input type="text" name="inches" value = "{{inches}}" autocompelte="off" required/>
            <label for="Height (inches)" class="label-name">
              <span class="content-name">Height (inches)</span>
            </label>
          </div>
          <br/>
          <div class="form">
            <input type="text" name="pounds" value = "{{pounds}}" autocompelte="off" required/>
            <label for="Height (pounds)" class="label-name">
              <span class="content-name">Height (pounds)</span>
            </label>
          </div>
          <br/>
          <p style="font-weight:bold; font-size:medium;">
            Total height and weight must be greater than 0
          </p>     
          <br/>    
          <button class="btn btn3">Get BMI</button>
          <br /><br/>
          <div class="alertbmi">
            {{ bmi }}
          </div>
        </form>
    </div>
    <div class="container">
        <form action="/getretirementage" method="POST">
          <div class="form">
            <input type="text" name="age" value = "{{age}}" autocompelte="off" required/>
            <label for="Age (years)" class="label-name">
              <span class="content-name">Age (years)</span>
            </label>
          </div>
          <br/>
          <div class="form">
            <input type="text" name="anualSalary" value = "{{anualSalary}}" autocompelte="off" required/>
            <label for="Height (feet)" class="label-name">
              <span class="content-name">Annual Salary (dollars)</span>
            </label>
          </div>
          <br/>
          <div class="form">
            <input type="text" name="percentSasved" value = "{{percentSasved}}" autocompelte="off" required/>
            <label for="Percent of annual salary saved" class="label-name">
              <span class="content-name">Percent of annual salary saved</span>
            </label>
          </div>
          <br/>
          <div class="form">
            <input type="text" name="desiredSavings" value = "{{desiredSavings}}" autocompelte="off" required/>
            <label for="Desired Savings (dollars)" class="label-name">
              <span class="content-name">Desired Savings (dollars)</span>
            </label>
          </div>
          <br/>
          <p style="font-weight:initial; font-weight: bold; font-family: sans-serif; font-size:medium;">
            Death is assumed at 100 years of age
          </p>
          <br/>
          <button class="btn btn3">Get Retirement Age</button>
          <br/><br />
          <div class="alertretage">
            {{ retirementAge }}
          </div>
        </form>
    <p style="font-weight: bold; font-size:larger; font-family: sans-serif ; color: maroon;">Hail State!</p>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/36/Mississippi_State_Bulldogs_logo.svg/1200px-Mississippi_State_Bulldogs_logo.svg.png" alt="" width="300" height="184">
    </br>
        <a style="font-weight: bold; font-size:larger; font-family: sans-serif ; color: maroon;" href="https://github.com/NathanCheshire/TDD_CD_Flask"; >GitHub source code</a>
    </div>
</body>
</html>