  
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"/>

    
    <style>
        .alertbmi {
          background: rgb(78, 123, 219);
          padding: 1rem;
          text-align: center;
          font-weight: bold;
          border-radius: 5px;
          color: white;
          margin: 1rem;
        }

        .alertretage {
          background: rgb(78, 123, 219);
          padding: 1rem;
          text-align: center;
          font-weight: bold;
          border-radius: 5px;
          color: white;
          margin: 1rem;
        }
      </style>
</head>
<body>
    <div class="container">
        <h1><b>BMI and Retirement Age Calculator</b></h1>
        <h2>By Nathan Cheshire </h2>
        <h3>BMI Calculator</h3>
    </div>

    <div class="container">
        <form action="/getbmi" method="POST">
          <label for="Feet">Feet</label>
          <input
            type="text"
            placeholder="Height (feet)"
            class="u-full-width"
            name="feet"
            value = "{{feet}}"
          />
  
          <label for="Inches">Inches</label>
          <input
            type="text"
            placeholder="Height (inches)"
            class="u-full-width"
            name="inches"
            value = "{{inches}}"
          />

          <label for="Pounds">Pounds</label>
          <input
            type="text"
            placeholder="Weight (pounds)"
            class="u-full-width"
            name="pounds"
            value = "{{pounds}}"
          />

          <p style="font-weight:initial; font-size:small;">(Total height and weight must be greater than 0)<br/>Underweight: < 18.5<br/>Normal: >= 18.5 and < 25.0<br/>Overweight: >= 25.0 and < 30.0<br/>Obese: >= 30.0</p>
  
          <input type="submit" value="Get BMI"/>
          <br />
          <div class="alertbmi">
            {{ bmi }}
          </div>
        </form>
    </div>

    <div class="container">
        <form action="/getretirementage" method="POST">
          <label for="Age">Age</label>
          <input
            type="text"
            placeholder="Age (years)"
            class="u-full-width"
            name="age"
            value = "{{age}}"
          />
  
          <label for="anualSalary">Anual Salary</label>
          <input
            type="text"
            placeholder="Anual Salary (dollars)"
            class="u-full-width"
            name="anualSalary"
            value = "{{anualSalary}}"
          />

          <label for="percentSaved">Percent Saved</label>
          <input
            type="text"
            placeholder="Percent of anual salary saved"
            class="u-full-width"
            name="percentSasved"
            value = "{{percentSasved}}"
          />

          <label for="desiredSavings">Desired Savings</label>
          <input
            type="text"
            placeholder="Desired Savings (dollars)"
            class="u-full-width"
            name="desiredSavings"
            value = "{{desiredSavings}}"
          />
          <p style="font-weight:initial; font-size:small;">(All inputs must be greater than zero, death is assumed at 100 years of age)</p>
          <input type="submit" value="Get Retirement Age"/>
          <br />
          <div class="alertretage">
            {{ retirementAge }}
          </div>
        </form>
    </br>
    <p style="font-weight: bold; font-size:medium;">Hail State!</p>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/36/Mississippi_State_Bulldogs_logo.svg/1200px-Mississippi_State_Bulldogs_logo.svg.png" alt="" width="300" height="184">
</br>
        <a href="https://github.com/NathanCheshire/TDD_CD_Flask"; >GitHub source code</a>
    </div>

</body>
</html>